@media (max-width: 600){
    .owl-carousel .owl-item.active {
        width: 100% !important;

    }
}

.testimonial-slider__single {
    background: #f5f5f5 !important;
    box-shadow: inset 0px 0px 8px 0px #0000007a;
}

.bgimg{
    background-attachment: fixed;
    background-size: cover;
}
.testimonial-slider__one {
    margin: 10px 15px 15px;
    box-shadow: 2px 3px 8px 0px #00000070;
    /* border-radius: 0px 50px; */
    padding: 20px 50px 18px;
}

.react-multi-carousel-item {
    opacity: 0.5;
}

.react-multi-carousel-item.react-multi-carousel-item--active {
    opacity: 1;
}